body{
    background-color: darkgray;
    color: rgb(0, 0, 0);
}

caption{
    caption-side: bottom;
    color: brown;
    font-size: 30px;
}

table, td, th{
    border: 1px solid;
    border-collapse: collapse;
}

tr{
    background-color: rgba(66, 66, 131, 0.336);
}

td{
    background-color: white;
    
}

th{
    background-color: aqua;
}
