
div{
    border: 2px;
    border-style: solid;
    border-color: brown;
    width: 100px;
    height: 100px;
    display: inline-block; /* exibir o conteudo na mesma linha */

    margin-top: 100px; /* margin espaçamento externo dos conteudos */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    

    
}


/* DEFINIR CSS NAS TAGS, NAS CLASSES seletor .nomeClasse, pelo ID seletor é #ID */

#caixa1{
    background-color: blueviolet;
    border-radius: 30px;
    padding: 30PX;
}

#caixa2{
    background-color: black;
    color: white;

}

#caixa3{
    background-color:chocolate;
}


#caixaImagemFundo{
    background-image: url("/img/imagemFundoDois.jpg");
    opacity: 0.5;
    width: 100%;
    
}